
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    opacity: 0;
    animation-name: body;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

a{
    text-decoration: none;
}


h2{
    font-size: 34px;
    z-index: 1;
    position: relative;
    top: 100px;
    text-align: center;
}

.contenedores_mayor_padre{
    display: flex;
    margin: 30px 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
}
/*ESTILOS DE FILTROS*/
/*CONTENEDOR MAYOR DE PRODUCTOS Y FILTROS*/
.contenedores_filtro_productos{
    margin: 100px 0px;

}

/*CONTENEDOR DE FILTROS*/

.tipo .tipo_productos, .tipo2 .tipo_productos, .tipo3 .tipo_productos{
    text-align: center;
    font-size: 150%;
    color: #000;
    font-weight: bold;
}

.tipo_productos .estilo{
    font-weight: bold;
    font-size: 25px;
    color: #000;
}

.tipo,.tipo2,.tipo3{
    width: 200px;
    height: 250px;
    margin: 10px 0px;
    border: 1px solid #ccc; 
}



/*PARRAFOS*/
.nombre_productos{
    font-size: 25px;
    color: #000;
    font-weight: bold;
    margin: 0px 10px;   
}




/* Estilos del menú del carrito */
.carrito {
    position: relative;
}

/* Estilos del cards */
/*CONTENEDOR DE PRODUCTOS*/
.productos{
    margin: 100px 0px;
    width: 820px;   
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    height: 380px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px 10px;
}

.card:hover{
    scale: 1.03;
    transition: 0.3s;
}

.card img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.parrafo_productos{
    margin: 0px 10px;
    font-size: 20px;
    font-weight: bold;
}

.productos .btn{
    width: 90%;
    height: 63px;
    font-size: 25px;
    margin: 20px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.productos .btn:hover{
    background-color: #4CAF50;
    color: white;
}

.card .precio{
    font-size: 30px;
    font-weight: bold;
    color: red;
}


@keyframes body{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
